<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Form to submit!</title>
    </head>
    <body>
        <h1>Provide your info for free RAM!</h1>
        <form action="/form" method="post">
            <label for="name">Name: <input name="name" type="text" /></label
            ><br />
            <label for="ssn"
                >Social Security Number: <input name="ssn" type="text" /></label
            ><br />
            <button type="submit">Submit</button>
        </form>
        <p><a href="/">Back to home</a></p>
    </body>
</html>
