<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home page!</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/styles.css') }}"
        />
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    <body>
        <h1>Welcome to my Flask App!</h1>
        <p><a href="/time">See current server time</a></p>
        <p><a href="/form">Go to the form</a></p>
    </body>
</html>
